:root {
    /* River Blue */
    --primary-color: #1F6FA5;
    /* light forest green */
    --secondary-color: #6faf5f;
    /* rafting red orange */
    --accent1-color: #E94E2E;
    /* golden yellow */
    --highlight-color: #F4C542;
    --font-color: #1A1A1A;
    --font2-color: #F5F7FA;
    --heading-font: Montserrat, Gothom, sans-serif;
    --body-font: "Open Sans", Lato, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--font-color);
    background-color: #F5F7FA;
    margin: 0;
}

img {
    max-width: 100%;
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

header img {
    width: 160px;
    height: auto;
}

header {
    background-color: var(--primary-color);
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 2fr;
    align-items: center;
    max-width: 1000px;
    border-bottom: 2px solid var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--font-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 5px;
    text-align: center;
}

section {
    max-width: 1000px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--font2-color);
}

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

footer p {
    order: 1;
}

/* Class Selectors */

.socialmedia a {
    text-decoration: none;
    position: relative;
    padding: 0 0.25rem;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

/* 
In progress responsive highlight for social media links. Not quite working the way I want.
.socialmedia img::after {
    content: "";
    position: absolute;
    transition: box-shadow 0.3s ease;
}

.socialmedia img:hover {
    box-shadow: 0 0 20px var(--accent1-color);
} */

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    width: 75%;
    top: 20px;
    padding: 20px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    width: 33%;
    bottom: 15px;
    background-color: var(--highlight-color);
}

.hero article img {
    float: right;
    width: 100px;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 20px var(--accent1-color);
}

.contact {
    position: relative;
}

.contact h1 {
    position: absolute;
    width: 50%;
    padding: 10px;
    text-align: center;
    transform: translateX(50%);
    top: 1rem;
    opacity: 0.9;
    background-color: var(--secondary-color);
}

.contact article {
    position: absolute;
    width: 75%;
    top: 2.9rem;
    transform: translateX(42%);

}

.contact p {
    padding: 2px;
    margin: 0;
    width: 40%;
    text-align: center;
    opacity: 0.9;
    font-weight: 700;
    background: var(--secondary-color);

}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.formgroup {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 10px;
    font-size: large;
}

#messagepurpose {
    align-self: center;
}

.radiogroup {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 10px;
}

.radiogroup input {
    width: 15px;
    height: 15px;
    padding: 5px;
    align-self: center;
}

.radiogroup label {
    align-self: center;
}

#messagelabel {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#message {
    grid-column-start: 1;
    grid-column-end: span 2;
    width: 100%;
}

#subscribe {
    width: 20px;
    height: 20px;

}

.formgroup button {
    font-size: larger;
    font-weight: 700;
    width: 100%;
    height: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.impimg {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.impimg img {
    width: 200px;
    height: auto;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(15, 15, 15);
}

.impimg figure {
    text-align: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.navigation a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--font2-color);
    position: relative;
    padding: 0.25rem 0;
}

/* navigation link highlight */
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: var(--highlight-color);
    transition: width 0.3s ease;
}

.navigation a:hover::after {
    width: 100%;
}

.navigation a:hover {
    color: var(--highlight-color);
}

/* navigation link highlight end */

.history {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.history img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 20px rgb(31, 30, 30)
}

.advimages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem
}

.advimages figure {
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

.advimages img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.herohome {
    position: relative;
}

.herohome h1 {
    position: absolute;
    top: 2rem;
    left: 6rem;
}

.herohome p {
    position: absolute;
    top: 4rem;
    left: 7rem;
    font-size: larger;
    font-weight: 700;
}

.action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    --mask:
        radial-gradient(8.6rem at 50% calc(100% - 12rem), #000 99%, #0000 101%) calc(50% - 10rem) 0/20rem 100%,
        radial-gradient(8.6rem at 50% calc(100% + 7rem), #0000 99%, #000 101%) 50% calc(100% - 5rem)/20rem 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 1rem;
}

.splash h2 {
    background-color: var(--mask);
    color: var(--font2-color);
}

.splash p {
    font-size: larger;
    text-align: center;
    font-weight: 700;
}

.splash a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--font-color);
    position: relative;
    padding: 0.25rem 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px black;
    border-radius: 1rem;
}

.splash a:hover {
    color: var(--highlight-color);
}

.chooseus {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem
}

.chooseus img {
    height: 5rem;
    justify-self: center;
}

.chooseus h3 {
    justify-self: center;

}

.chooseus p {
    justify-self: center;
    text-align: center;
    font-weight: 600;
}

.offnews {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;
    background-color: var(--font2-color);
}

.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--font-color);
    border: 5px solid var(--primary-color);
    border-radius: .5rem;
    padding: 1rem;
    gap: 1rem;
}

.signup h2 {
    grid-column-start: 1;
    grid-column-end: span 2;
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: rem;
}

#box2 h3 {
    justify-self: center;
    padding: 0;
    margin: 0;
}

#box2 p {
    justify-self: center;
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}

#box3 h3 {
    justify-self: center;
    padding: 0;
    margin: 0;
}

#box3 p {
    justify-self: center;
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}

.signup img {
    box-shadow: 0 0 20px black;
    border-radius: 5px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 5px solid var(--primary-color);
    border-radius: .5rem;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    color: var(--font-color);
}

.newsletter img {
    width: 5rem;
    align-self: center;
}

.newsletter p {
    align-self: center;
    text-align: center;
    font-weight: 600;
}

.newsletter h3 {
    align-self: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsletter form input {
    height: 2rem;
    width: 100%;
    font-size: large;
    text-align: center;
}

.newsletter form button {
    height: 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    width: 75%;
    align-self: center;
    font-size: large;
    font-weight: 700;
    box-shadow: 0 0 20px var(--primary-color);
}

.newsletter form button:hover {
    color: var(--highlight-color);
}

/* Trips page */
.bannertrips {
    margin: 0 auto;
    text-align: center;
    background-color: var(--font2-color);
    width: 100%;
}

.tripsaction {
    background-color: var(--primary-color);
    padding: 1rem;
}

.bannertrips h1 {
    padding-bottom: 1rem;
}

.bannertrips h2 {
    padding-bottom: 1rem;
    margin: 0 auto;
    background-color: var(--mask);
    color: var(--font2-color);
}

.bannertrips a {
    margin: 1rem;
    padding: .5rem;
    color: var(--font-color);
    text-decoration: none;
    font-size: x-large;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 0 0 20px black;
}

.bannertrips a:hover {
    color: var(--highlight-color);
}

.tripstop {
    background-color: var(--font2-color);
    color: var(--font-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1rem;
    border: 5px solid var(--primary-color);
    border-radius: .5rem;
}

.tripstop h2 {
    border: 1px red solid;
    text-align: left;
}

.tripstop p {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
    text-align: left;
}

.tripsbottom {
    display: grid;
    grid-template-columns: 45% 1fr;
}

.tripsbottom p {
    margin: 0 auto;
    padding: 0;
}

.tripchart {
    display: flex;
    flex-direction: column;
    background-color: var(--font2-color);
    color: var(--font-color);
    border: 5px solid var(--primary-color);
    border-radius: .5rem;
}

.tripchart h2 {
    background-color: var(--mask);
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 1rem;
}

.tripchart table {
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    justify-content: space-evenly;
}

th,
td {
    border: 1px solid var(--highlight-color);
    padding: .5rem 1rem;
}

thead th {
    background-color: var(--primary-color);
}