:root {
    --standard-margin: 10px;
    --standard-border: 1px solid (0 0 0 / 0.5);
    --standard-padding: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--standard-padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 75%;
}

aside {
    position: relative;
    width: 40%;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 290px;
    top: 25px;
    color: rgb(211, 191, 191);
}

footer {
    margin-top: 1.5rem;
    border-top: 1px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--standard-border);
    padding: 1rem;
    background-color: #eaeff5;
    color: black;
}