:root {
    --standard-margin: 10px;
    --standard-border: 1px solid (0 0 0 / 0.5);
    --standard-padding: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--standard-padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 75px;
    top: 25px;
    color: rgb(211, 191, 191);
}

footer {
    margin-top: 1.5rem;
    border-top: 1px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--standard-border);
    padding: 1rem;
    background-color: #eaeff5;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}